body {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*====================================hero===========================*/

.hero {
  background: #576f35;
  padding: 100px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.2),
    rgba(20, 20, 20, 0.2)
  );
}

.hero-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 335px;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.hero-fone {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/hero-img-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

/* (-webkit-min-device-pixel-ratio: 2) */

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-fone {
    background-image: url(../images/hero-img-mob-2x.jpg);
  }
}

/*==================hero 375px=================*/

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/*==================hero 768px================*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }

  .hero {
    padding: 122px 0px 0px 0px;
    gap: 50px;
  }

  .hero-title-container {
    gap: 25px;
    padding: 0px 32px;
    min-width: 704px;
  }

  .hero-title {
    font-size: 76px;
  }

  .hero-text {
    font-size: 16px;
  }

  .hero-fone {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero-img-tab-1x.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-fone {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../images/hero-img-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0;
    margin: 0;
  }

  .hero {
    padding: 0px 0px 0px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 28px;
  }

  .hero-title-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 128px;
    padding: 0px 0px 50px 0px;
    max-width: 502px;
    /* width: 502px;
    height: 562px; */
  }

  .hero-title {
    font-size: 76px;
    width: 502px;
  }

  .hero-text {
    font-weight: 500;
    line-height: 1.25;
    max-width: 472px;
  }

  .hero-fone {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero-img-dt-1x.jpg);
    background-size: 650px 800px;
    /* background-size: cover; */
    background-position: right;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 28px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-fone {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../images/hero-img-dt-2x.jpg);
    }
  }
}
